@charset "UTF-8";

body {
    margin: 0px;
    height: 1000px;/* ←意味ないかも */
}
a {
    text-decoration:none;
}

/* メイン */
.goal_title {
	display: flex;

}
.goal_title_img {
	position: relative;
	padding: 30px 100px;

}
.goal_title_h1 {
	font-size: 70px;
	font-weight: normal;
}


/* タブ切り替え */
/* 全体の位置 */
.tab_wrap {
    width:90%;
    margin:80px auto;
}

/* ラジオ型消去 */
input[type="radio"].hide {
    display:none;
}

/* タグラベル全体 */
.tab_area {
    font-size:0;

    /* タグの親要素に設定でタグ横並び */
    display:flex;
}

/* タグラベル内 */
.tab_area label {
    width:100px;
    height: 25px;
    margin:0 10px 5px 0;
    display:inline-block;
    padding:12px 0;
    color: black;
    /*background:#ddd;*/
    text-align:center;
    font-size:22px;
    font-weight:700;
    cursor:pointer;
    transition:ease 0.2s opacity;
    border: 1px solid;
    outline: none;
    border-top-right-radius: 10px;
}

.tab1_label {
	background-color: #FF9B71;
	outline: none;
}
.tab2_label {
	background: #645DD7;
	outline: none;
}
.tab3_label {
	background: #F2FF49;
	outline: none;
}
.tab4_label {
	background: #B3FFFC;
	outline: none;
}
.tab5_label {
	background: #FB62F6;
	outline: none;
}
.tab6_label {
	background: #6c6c6c;
	outline: none;
}

/* タブアニメ */
.tab1_label:hover,
.tab2_label:hover,
.tab3_label:hover,
.tab4_label:hover,
.tab5_label:hover,
.tab6_label:hover {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-name: tab_anime;

}

@keyframes tab_anime {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.9);
  }
}

/* ホバーすると透明 */
.tab_area label:hover {
    opacity:0.5;
}

/* パネル囲い スクロール*/
.panel_area {
    background:#fff;
    border:3px solid orange;
    overflow: auto;
}

/* パネル設定 */
.tab_panel {
    width: 100%;
    height: 500px;
    display:none;
}

/* パネル内文章 */
.tab_panel p {
    font-size:20px;
    letter-spacing:1px;
    text-align:center;
}

/* パネル内調整 */
.in_table {
	font-size: 22px;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.out_table {
	width: 95%;
  	padding: 10px 0 0 0 ;
  	margin: 0 auto;
  	border-top: 2px solid orange;
  	text-align: center;
	font-size: 15px;
}



@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
body{color:red;}
}


/*  */
#tab1:checked ~ .tab_area .tab1_label {
    background:orange;
    color:white;
}
#tab1:checked ~ .panel_area #panel1 {
    display:block;
}

/*  */
#tab2:checked ~ .tab_area .tab2_label {
    background:blue;
    color:white;
}
#tab2:checked ~ .panel_area #panel2 {
    display:block;
}

/*  */
#tab3:checked ~ .tab_area .tab3_label {
    background:yellow;
    color:white;
}
#tab3:checked ~ .panel_area #panel3 {
    display:block;
}

/*  */
#tab4:checked ~ .tab_area .tab4_label {
    background:green;
    color:white;
}
#tab4:checked ~ .panel_area #panel4 {
    display:block;
}

/*  */
#tab5:checked ~ .tab_area .tab5_label {
    background:#8000ff;
    color:white;
}
#tab5:checked ~ .panel_area #panel5 {
    display:block;
}

/*  */
#tab6:checked ~ .tab_area .tab6_label {
    background:#808080;
    color:white;
}
#tab6:checked ~ .panel_area #panel6 {
    display:block;
}


/* ヘッダー */
.header {
	position: relative;
	top: 0;
}
.logoutbtn div {
	color: black;
	background-color: #def03c;
	font-size: 30px;
	position: absolute;
	right: 180px;
	top: 60px;
}
.hint img {
	position: absolute;
	right: 50px;
	top: 50px;
}

/* フッター */
.footer {
    height: 100px;
    background-color: #FF9933;
    font-size: 15px;
    width: 100%;

    /* 固定 */
    position: fixed;
    z-index: 999;
    bottom: 0;
}
.footer-ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
.footer-li {
    width: 25%;
    text-align: center;
}
.footer-li div {
    color: #3a3a3a;

}
/* フッター　「目標一覧」　位置調整 */
.footer-li-goal {
	padding-right: 13px;
}
/* フッター　かぶり解決 */
.empty {
	height: 100px;
}

/* 新規登録　位置 */
.goal_plus {
	text-align: right;
	padding: 30px 70px ;
}


/*　アコーディオンメニュー用　*/
/*
.accordion_item {
    max-width: 1024px;
    margin: 0 auto;

    .title {
        position: relative;
        background-color: #ebb6ae;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        padding: 15px 60px 15px 15px;
        text-align: center;
        z-index: +1;
        cursor: pointer;
        transition-duration: 0.2s;
        &:hover {
            opacity: 0.8;
        }
    }
    &:nth-of-type(2) .title {
        background-color: #bfe2f6;
    }
    &:nth-of-type(3) .title {
        background-color: #efd49c;
    }

    .btn {
        position: absolute;
        top: 37%;
        right: 10%;
        width: 18px;
        height: 18px;
        transform-origin: center center;
        transition-duration: 0.2s;

        &:before,
        &:after {
            content: "";
            background-color: #fff;
            border-radius: 10px;
            width: 18px;
            height: 4px;
            position: absolute;
            top: 7px;
            left: 0;
            transform-origin: center center;
        }
        &:before {
            width: 4px;
            height: 18px;
            top: 0;
            left: 7px;
        }
    }

    .active .btn {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        &:before {
            content: none;
        }
    }

    .content {
        display: none;
        padding: 30px 30px;
        border-left: 2px solid #ebb6ae;
        border-right: 2px solid #ebb6ae;
        border-bottom: 2px solid #ebb6ae;
        box-sizing: border-box;
    }

    &:nth-of-type(2) .content {
        border-left: 2px solid #bfe2f6;
        border-right: 2px solid #bfe2f6;
        border-bottom: 2px solid #bfe2f6;
    }

    &:nth-of-type(3) .content {
        border-left: 2px solid #efd49c;
        border-right: 2px solid #efd49c;
        border-bottom: 2px solid #efd49c;
    }
}

@media screen and (max-width: 1024px) {
    .accordion_items .accordion_item .title {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .accordion_items .accordion_item .title {
        font-size: 16px;
        text-align: left;
    }
}
*/
/* 以下の記述は不要です */
.accordion_items {
    margin: 20px;
}
