@charset "UTF-8";

body {
	margin: 0px;
	height: 100%;

}

a {
	text-decoration: none;
}

/*フォーム・テーブルについて*/
table {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align:center;
}

th.th_left {
	width: 500px;
	height: 40px;
}

td {
	width: 80%;
	height: 150%;
}

/**/
input.textwidth {
	width: 100%;
	outline: 10px #FFF;
	outline-offset: -10px;
}

/*ラジオボタン*/
input[type=radio] {
	width: 50px;
	display: none; /* ラジオボタンを非表示にする */
}

label.radio_label {
	border: 2px solid #000;
	border-radius: 6px;
	background: #fff;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	display: block;
	float: center;
	width: 150px;
}

input[type="radio"]:checked+label.radio_label {
	border: 2px solid #fff;
	border-radius: 6px;
	background: #000;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

label.radio_label:hover {
	border: 2px solid #000;
	border-radius: 0;
	background: #fff;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	display: block;
	float: center;
	width: 150px;
}

/*タグごとのラベル！！！仕事趣味家事勉強その他*/
input[type="radio"]:checked+label.work {
	border: 2px solid #fff;
	border-radius: 6px;
	background: #000;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

input[type="radio"]:checked+label.work {
	border: 2px solid #fff;
	border-radius: 6px;
	background: blue;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

input[type="radio"]:checked+label.housework {
	border: 2px solid #fff;
	border-radius: 6px;
	background: red;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

input[type="radio"]:checked+label.hobby {
	border: 2px solid #fff;
	border-radius: 6px;
	background: green;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

input[type="radio"]:checked+label.study {
	border: 2px solid #fff;
	border-radius: 6px;
	background: orange;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

input[type="radio"]:checked+label.etc {
	border: 2px solid #fff;
	border-radius: 6px;
	background: purple;
	-webkit-box-shadow: 4px 4px 0 #000;
	box-shadow: 4px 4px 0 #000;
	color: #fff;
	display: block;
	float: center;
	width: 150px;
}

/*ボタン中央寄せ*/

/*更新ボタン*/
input.update_button {
	width: 80px;
	height: 30px;
	border-radius: 6px;
	background-color: #ff6702;
	border-color: #ff6702;
	color: white;
	float:right;
}

input.update_button:hover {
	background-color: #fff;
	color: #ff6702;
	border-bottom: 2px solid;
	border-color: #ff6702;

}

/*削除ボタン*/
input.delete_button {
	width: 80px;
	height: 30px;
	border-radius: 6px;
	background-color: #fff;
	border-color: #ff6702;
	color: #ff6702;
	float:left;
}

input.update_button:hover {
	background-color: #ff6702;
	border-bottom: 2px solid;
	border-color: #ff6702;
	color: #fff;
}

/* ヘッダー */
.header {
	position: relative;
	top: 0;
}

.logoutbtn div {
	color: black;
	background-color: #def03c;
	font-size: 30px;
	position: absolute;
	right: 180px;
	top: 60px;
}

.hint img {
	position: absolute;
	right: 50px;
	top: 50px;
}

/* フッター */
.footer {
	height: 100px;
	background-color: #FF9933;
	font-size: 15px;
	width: 100%;
	/* 固定 */
	position: fixed;
	z-index: 999;
	bottom: 0;
}

.footer-ul {
	list-style: none;
	display: flex;
	flex-wrap: nowrap;
}

.footer-li {
	width: 25%;
	text-align: center;
}

.footer-li div {
	color: #3a3a3a;
}
/* フッター　「目標一覧」　位置調整 */
.footer-li-goal {
	padding-right: 13px;
}
/* フッター　かぶり解決 */
.empty {
	height: 110px;
}