@charset "UTF-8";



/* モーダルウィンドウ用*/
/*
body {
  font-family: serif;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}


.button {
  background: lightblue;
  color: #fff;
  padding: 0 2em;
  border: 0;
  width: 500px;
  height: 100px;
  font-size: 45px;
  border-radius: 5px;
  font-weight: 900;
  position: relative;
  left: 400px;
  top: 260px;
  font-family: serif;
}

.button:hover {
  background: lightcoral;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: lightblue;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: black;
}
*/

/*チェックボックス用*/

/*.fa-square-o:before {
    content: "\f096";
}*/

/*
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*/
/*
.home_h1{
	background-image:url("/app/img/home.png");
	background-size:60px 60px;
	background-repeat: no-repeat;
	padding: 8px 0 0 60px;
	font-size: 70px;
	font-weight: normal;
}
*/

/* メイン */
.home_title {
	display: flex;
}
.home_title_img {
	position: relative;
	padding: 30px 100px;
}
.home_title_h1 {
	font-size: 70px;
	font-weight: 500;
}

.goal_plus {
	text-align: right;
	padding: 30px 70px ;
}


label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #FF9933;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #FED966;
}

/* 0624 山口追加↓ */
/* タブ切り替え */
/* 全体の位置 */
.tab_wrap {
    width:90%;
    margin:80px auto;
}

/* ラジオ型消去 */
input[type="radio"].hide {
    display:none;
}

/* タグラベル全体 */
.tab_area {
    font-size:0;

    /* タグの親要素に設定でタグ横並び */
    display:flex;
}

/* タグラベル内 */
.tab_area label {
    width:100px;
    height: 25px;
    margin:0 10px 5px 0;
    display:inline-block;
    padding:12px 0;
    color: rgb(255, 255, 255);
    text-align:center;
    font-weight:700;
    cursor:pointer;
    transition:ease 0.2s opacity;
    border: 1px solid;
    outline: none;
    border-top-right-radius: 40px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
}


.tab1_label {
	background-color: #F28703;
	outline: none;
	font-size: 15px;
}
.tab2_label {
	background: #FB4B1A;
	outline: none;
	font-size:22px;

}
.tab3_label {
	background: #06C7F2;
	outline: none;
	font-size:22px;

}
.tab4_label {
	background: #019DD8;
	outline: none;
	font-size:22px;

}
.tab5_label {
	background: #8000ff;
	outline: none;
	font-size:22px;
}
.tab6_label {
	background: #DA72D1;
	outline: none;
	font-size:22px;
}


/* タブアニメ */
.tab1_label:hover,
.tab2_label:hover,
.tab3_label:hover,
.tab4_label:hover,
.tab5_label:hover,
.tab6_label:hover {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
  animation-name: tab_anime;

}

@keyframes tab_anime {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.9);
  }
}

/* ホバーすると透明 */
.tab_area label:hover {
    opacity:0.5;
}

/* パネル囲い スクロール*/
.panel_area {
    background:#fff;
    border:3px solid orange;
    overflow: auto;
}

/* パネル設定 */
.tab_panel {
    width: 100%;
    height: 500px;
    display:none;
}

/* パネル内文章 */
.tab_panel p {
    font-size:20px;
    letter-spacing:1px;
    text-align:center;
}

/* パネル内調整 */
.in_table {
	font-size: 22px;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.out_table {
	width: 95%;
  	padding: 10px 0 0 0 ;
  	margin: 0 auto;
  	border-top: 2px solid orange;
  	text-align: center;
	font-size: 15px;
}



@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
body{color:red;}
}


/*  */
#tab1:checked ~ .tab_area .tab1_label {
    background:white;
    color:#F28703;
}
#tab1:checked ~ .panel_area #panel1 {
    display:block;
}

/*  */
#tab2:checked ~ .tab_area .tab2_label {

    background:white;
    color:#FB4B1A;
}
#tab2:checked ~ .panel_area #panel2 {
    display:block;
}

/*  */
#tab3:checked ~ .tab_area .tab3_label {
    background:white;
    color:#06C7F2;
}
#tab3:checked ~ .panel_area #panel3 {
    display:block;
}

/*  */
#tab4:checked ~ .tab_area .tab4_label {
    background:white;
    color:#019DD8;
}
#tab4:checked ~ .panel_area #panel4 {
    display:block;
}

/*  */
#tab5:checked ~ .tab_area .tab5_label {
    background:white;
    color:#8000ff;
}
#tab5:checked ~ .panel_area #panel5 {
    display:block;
}

/*  */
#tab6:checked ~ .tab_area .tab6_label {
    background:white;
    color:#DA72D1;
}
#tab6:checked ~ .panel_area #panel6 {
    display:block;
}


/* op */
/* 基本型 */
.top-op,.top-op2{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.top-op{
  z-index: 99;
  height: 100%;
  background-color: #FED966;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  animation-duration: 2s;
  animation-delay:4s;
  animation-fill-mode: forwards;
  animation-name: top-op;
}
.op_logo {
	animation-timing-function: linear;
 	animation-iteration-count: 1;
 	animation-direction: alternate;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-name: logo_anime;
}

@keyframes logo_anime {
  0%, 40%, 60%, 80% {
    transform: scale(1.0);
  }
  50%, 70% {
    transform: scale(0.9);
  }
}

.top-op2{
  z-index: 100;
  background: #FED966;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-name: top-op2;
}

@keyframes top-op{
0% {
  width: 100%;
  left:0;
  right:0;
}
40%, 50% {
  left:0;
  right:0;
}
100% {
  width:35%;
  height:50%;
  top:10%;
  left:100%;
  right:80%;
}
}
@keyframes top-op2{
0% {
  width: 100%;
  left:0;
   opacity: 1;
}
50% {
  width: 100%;

}
100% {
  width: 0%;
  left: 100%;
   opacity: 0;
}
}


/* top-op2内のlogin要素 */
.login_body {
	height: 100%;
	background-color: #FED966;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	text-align: center;
}
/*ログイン入力部分*/
table.login {
	margin-left: auto;
	margin-right: auto;
}
input.login_data {
	width: 300px;
	height: 30px;
	border-radius: 6px;
	border-color: transparent;
	height: 30px;
}
/*ログインボタン*/
input.login_button {
	width: 300px;
	height: 30px;
	border-radius: 6px;
	background-color: #ff6702;
	border-color: transparent;
	color: white;
}
.wrapper {
	color: #FED966;
}






