@charset "UTF-8";


/*見出し*/
.goal_title {
	display: flex;
}
.goal_title_img {
	position: relative;
	padding: 30px 100px;
}
.goal_title_h1 {
	font-size: 70px;
	font-weight: normal;
}

/*編集ボタン*/
.goal_plus {
	text-align: right;
	padding: 30px 70px ;
}

/* 全体の位置 */
.tab_wrap {
    width:90%;
    margin:80px auto;
}

/* パネル囲い スクロール*/
.panel_area {
    background:#fff;
    border:3px solid orange;
    overflow: auto;
}

/* パネル設定 */
.tab_panel {
    width: 100%;
    height: 500px;

}

/* パネル内調整 */
.in_table {
	font-size: 28px;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.out_table {
	width: 95%;
  	padding: 10px 0 0 0 ;
  	margin: 0 auto;
  	border-top: 2px solid orange;
  	text-align: center;
	font-size: 19px;
}
.panel_upper {
	display: flex;
	justify-content: center;
	padding: 20px 20px 20px 40px;

}
.panel_upper_1, .panel_upper_2 {
	font-size: 25px;
	font-weight: 700;
}
.panel_upper_2 {
	padding-left: 200px;
}
/*保持ポイント文字*/
.having{
font-size: 28px;
text-align: center;
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
}
