@charset "UTF-8";

footer {
    height: 100px;
    background-color: #FF9933;
    font-size: 15px;
    width: 100%;

    /* 固定 */
    position: fixed;
    z-index: 999;
    bottom: 0;
}


input.user_id{

	width : 15em;
	font-size:15px
}

input.password {

	width : 15em;
	font-size:15px
}

input.password_confirm{

	width : 15em;
	font-size:15px
}


 input[name = "registar"]{
 width : 6em;
 font-size:15px

 }

 input[name = "reset"]{
 width : 6em;
 background-color: #FF9933;
 color:white;
 font-size:15px
 }




